#!/bin/sh
openssl pkcs12 -export -in {{ confluence_letsencrypt_cert_path }}/cert.pem -inkey {{ confluence_letsencrypt_cert_path }}/privkey.pem -name "tomcat" -out {{ confluence_letsencrypt_jks_destination }}/confluence.p12 -passout pass:{{ confluence_letsencrypt_jks_pass }}
keytool -importkeystore -deststorepass {{ confluence_letsencrypt_jks_pass }} -destkeystore {{ confluence_letsencrypt_jks_destination }}/{{ confluence_letsencrypt_jks_keystore_name }} -srckeystore {{ confluence_letsencrypt_jks_destination }}/confluence.p12 -srcstoretype PKCS12 -srcstorepass {{ confluence_letsencrypt_jks_pass }} -noprompt
echo Restarting confluence...
{{ confluence_letsencrypt_restart_command }}