#!/bin/sh

curl https://letsencrypt.org/certs/isrgrootx1.pem.txt > /tmp/letsencrypt-root.pem
cat {{ confluence_letsencrypt_cert_path }}/chain.pem  /etc/ssl/certs/ca-certificates.crt /tmp/letsencrypt-root.pem > /tmp/intermediate_plus_root.pem
openssl pkcs12 -export -chain -in {{ confluence_letsencrypt_cert_path }}/cert.pem -inkey {{ confluence_letsencrypt_cert_path }}/privkey.pem -name "tomcat" -CAfile /tmp/intermediate_plus_root.pem -out {{ confluence_letsencrypt_jks_destination }}/confluence.p12 -passout pass:{{ confluence_letsencrypt_jks_pass }}

# echo Restarting confluence...
# {{ confluence_letsencrypt_restart_command }}